data/nodered/flows.json
[{"id":"b7a61e5a.24ca4","type":"tab","label":"Temperature sample","disabled":false,"info":""},{"id":"60bd1b52.d6de64","type":"tab","label":"Cat Sample","disabled":false,"info":""},{"id":"8c465a27.20e1d8","type":"mqtt-broker","z":"","name":"mqtt","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10412ca7.95c8a3","type":"mqtt in","z":"60bd1b52.d6de64","name":"","topic":"house/388/room/living/temperature/output","qos":"2","broker":"8c465a27.20e1d8","x":200,"y":140,"wires":[["bad89d40.f2a04"]]},{"id":"bad89d40.f2a04","type":"debug","z":"60bd1b52.d6de64","name":"temperature_output","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":360,"y":140,"wires":[]},{"id":"2212b0e2.da4d1","type":"mqtt out","z":"60bd1b52.d6de64","name":"input to gocat function","topic":"cat/input/message","qos":"1","retain":"false","broker":"8c465a27.20e1d8","x":660,"y":60,"wires":[]},{"id":"a20ad62f.2d2118","type":"inject","z":"60bd1b52.d6de64","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"4","x":110,"y":60,"wires":[["a4988722.3beba8"]]},{"id":"a4988722.3beba8","type":"function","z":"60bd1b52.d6de64","name":"transform_timestamp","func":"msg.topic= 'cat/output';\nmsg.message= msg.payload\nreturn msg","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["2212b0e2.da4d1"]]},{"id":"1a58bb6f.6199f5","type":"mqtt in","z":"b7a61e5a.24ca4","name":"","topic":"house/388/room/living/temperature/output","qos":"2","broker":"8c465a27.20e1d8","x":220,"y":220,"wires":[["91d3476.39781b8"]]},{"id":"91d3476.39781b8","type":"debug","z":"b7a61e5a.24ca4","name":"gocat_output","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":360,"y":220,"wires":[]},{"id":"5a715cd9.169ed4","type":"mqtt out","z":"b7a61e5a.24ca4","name":"input to temperature function","topic":"house/388/room/living/temperature","qos":"1","retain":"false","broker":"8c465a27.20e1d8","x":700,"y":140,"wires":[]},{"id":"9dc344d3.a6ca88","type":"inject","z":"b7a61e5a.24ca4","name":"","topic":"","payload":"22","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":"4","x":110,"y":140,"wires":[["bf04d4fb.a39b68"]]},{"id":"bf04d4fb.a39b68","type":"function","z":"b7a61e5a.24ca4","name":"transform_timestamp","func":"msg.message= msg.payload\nreturn msg","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["5a715cd9.169ed4"]]}]